a {
    color: #EBEBEB;
    text-decoration: "none";
}

#resumeLink:hover {
    opacity: 50
}

.experienceStyle:hover {
    position: relative;
    animation-name: onexperiencehover;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

#experienceTitle {
    color: #EBEBEB
}

.experienceStyle:hover #experienceTitle {
    color: #5D9880;
    font-weight: 500
}

.projectStyle:hover {
    position: relative;
    animation-name: onexperiencehover;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.projectStyle:hover #projectTitle {
    color: #5D9880;
    font-weight: 500
}

.projectStyle:hover > #projectPhotoHover {
    opacity: 0
}

.projectStyle:hover #experienceTitle {
    color: #5D9880;
    font-weight: 500
}

#pageLink:hover {
    color: white
}

#projectLink:hover {
    color: white
}

@keyframes onexperiencehover {
    from {
        background-color: #121212
    }
    to {
        background-color: #1F1F1F;
    }
}

.body {
    overflow-x: hidden
}